@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

body{
    margin: 0;
    font-family: "Assistant", sans-serif;
    padding: 0;
    max-width: 100vw; /* Prevent body from exceeding viewport width */
}

p {
  margin: 0;
  padding: 0;
}


nav{
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 3px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
  font-size: 15px;
}


.logo img{
  width: 100%;
  height: 70px;
}

.nav-links{
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

.nav-links a{
  display: inline-block;
  margin: 0 20px;
  list-style-type: none;
  color: black;
  transition: all .5s ease;
  text-decoration: none;
}

.nav-links a:hover{
  transform: translateY(-5px);
}


.right-nav{
  display: flex;
  align-items: center;

}


.nav-btn{
  display: inline-block;
  padding: 1px 20px;
  background: transparent;
  border: 2px solid;
  color: black;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  transition: all .6s ease;
  text-decoration: none;
  margin-left: 20px;


}

.nav-btn:hover{
  transform: translateY(-5px)
}

.nav-btn-no-style{
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 500;
  transition: all .6s ease;
  text-decoration: none;
  margin-left: 20px;


}

.nav-btn-no-style:hover{
  transform: translateY(-5px)
}

#ham-menu{
  font-size: 30px;
  z-index: 1001;
  cursor: pointer;
  margin-left: 22px;
  display: none
}


@media screen and (max-width: 950px){
  #ham-menu{
    display: block;
  }
  .nav-links{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    top: 0;
    right: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    /*backdrop-filter: blur(10px);*/
    background-color: #fff;
    transition: all .5s ease-in-out;
  }
  .nav-links a{
    display: block;
    padding: 0;
    margin: 0px 0px 20px 0px;
    font-size: 15px;
    font-weight: 700;
  }
  .nav-links.open{
    left: 0;
  }
  nav{
    padding: 3px 0;
  }
}



.main-content{
  margin: auto;
  max-width: 900px;
}

@media(max-width: 950px){
  .main-content{
    text-align: center;
    max-width: none;
    margin: 0;
  }
}

.main-content h2{
  text-align: center;
  margin-top: 1rem;
}

.main-content h5{
  font-weight: 900;
}



/* cover image */

.coverImage{
  position: relative;
}

.darkness{
  background-color: black;
  height: 70vh;
  width: 100%;
  position: absolute;
  opacity: 40%;
}
.coverImage img{
  height: 70vh;
  width: 100%;
}

.cover-image-header{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 38px; 
  font-weight: bold; 
  text-align: center;
}



.main-heading h2{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: white;
  margin-top: 1rem;


}

.main-heading-noback h2{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: black;
  margin-top: 1rem;


}

/* for the logo on login */


.login-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.paragraph{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}

/*  columns  */
.index-login-signup{
  box-sizing: border-box;
  padding: 16px;
  background-color: white;

}

.index-login-signup h2{
  text-align: center;
  margin-top: 1rem;
}

/* Full-width input fields */
form.basic input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

form.basic input[type=text]:focus, input[type=password]:focus {
  background-color: #d0d0d0;
  outline: none;
}

hr {
  border: 2px solid #769164;
  margin-bottom: 25px;
}



/* Set a style for the submit button */
.register-button {
  background-color: #769164;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 850px) {
  .column {
    width: 100%;
  }
  .bg-holder {display: none;}
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  opacity: 1;
  transform: translateY(0px);

}



.mySlides {
  display:none;
}

.mySlides1 {
  display:none;
}
/* grid for carousel images  */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*footer styling */

footer{
  background-color: #769164;
  margin-top: 1%;
}


/* Search bar and search nar buttomn */

form.searchbar{
  display: flex;
  width: 100%;
}

form.searchbar input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
  height: 50px;
}

form.searchbar button {
  padding: 10px;
  background: #769164;;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  width: 20%;
  height: 50px;
}

.search-error{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 25px;
  font-weight: 700;
}

.footer{
  margin: auto;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #fff;

}

.footer p{
  display: inline-block;
  list-style-type: none;
  padding: 5px 5px;
  transition: 0.5s;
  cursor: pointer;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer p:hover{
  transform: translateY(-10px);
}



.icons svg{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}


.icons svg:hover {
  transform: translateY(-10px);
}
/* pet portrait collage*/
.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*print column*/





.column-prints{
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .column-prints {
    width: 33.33%;
  }
}

@media screen and (max-width: 1000px) {
  .column-prints {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .column-prints {
    width: 100%;
  }
}

.card1{
  /* border-radius: 20px;
  border-color: #769164;
  outline: #769164; */
  padding: 5px;
  /* border-width: .05rem;
  border-style: solid; */
}

.card1 img {
  width: 100%; /* Make sure images fill the width */
  height: 280px; /* Set a fixed height for uniformity */
  object-fit:fill; /* Cover the area while maintaining aspect ratio */
  opacity: 1;
}

.print-name-head{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.print-price-tag{
  font-size: 18px;
  font-weight: 600;
}
.card1 button{
  padding: 10px;
  background-color: #769164;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

/*selected print page*/ 

.selected-print{
  display: flex;
  top: 0;
  right: 0;
}


.right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px; /* Apply padding only to left and right */

}

.selected-header{
  font-size: 35px;
  font-weight: 600;
}

.selected-price{
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

.selected-desc{
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
}

@media screen and (max-width: 950px){
  .selected-print{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  form.add-to-basket{
    align-items: center;
    justify-content: center;

  }
}


/* selected print add to basket*/

.addBasketButton1{
  background-color: #769164;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  width: 100%;
  padding: 2px;
  padding-bottom: 2px;
}

.addBasketButton1:hover{
  background-color: #446031;
}




form.add-to-basket input, 
form.add-to-basket button {
  margin: 0; /* Reset margin */
}


form.add-to-basket{
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: center;
  position: relative;
}

form.searchbar input[type=text] {
  padding: 5px;
  font-size: 15px;
  border: 1px solid grey;
  background: #f1f1f1;
  height: 50px;

}

form.searchbar button {
  padding: 10px;
  background: #769164;;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  height: 50px;
}




.addBasketButton{
  background-color: #769164;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

.addBasketButton:hover{
  background-color: #446031;
}


/* account page column */
.account-column{
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}


@media screen and (max-width: 800px) {
.account-column {
  width: 100%;
}
}

/*basket image------------------------------*/


.removeButton{
  background-color: #769164;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

.removeButton:hover{
  background-color: #446031;
}

.main-content table{
  width: 100%;
}

/*  basket column*/

.basket-form {
  display: flex;
  align-items: center; 
}

.quantity-container {
  display: flex;
  align-items: center; /* Vertically align the quantity input and submit button */
}


/* account page column */



/* no stock button*/


.noStockBasketButton{
  margin-top: 3%;
  background-color: #575757;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  width: 35%;
  padding-top: 5px;
  padding-bottom: 5px;
}






.checkoutButton{
  margin-top: 10%;
  background-color: #769164;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.checkoutButton:hover{
  background-color: #446031;
}

.basketButtons{
  padding: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;

}

.basketButtons:hover{
  background-color: #769164;
  color: #fff;
}


.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px; /*padding between objects*/
  flex: 60%;
}

.flex-item-left li{
  list-style: none;
  align-items: center;
  display: flex;
  color: black;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 1rem;

}

.flex-item-left ul {
  display: flex; /* Make the <ul> a flex container */
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
  align-items: center;
  text-align: center;
  justify-content: center;

}

.promo{
  height: 35px;
  width: 40%;
  text-align: center;
  
}

.flex-item-right ul{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 0; /* Remove default padding */
}

.flex-item-right li{
  list-style: none;
  font-size: 1rem;
  
}


.flex-item-right {
  padding: 10px;
  flex: 40%;
}

@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
    
  }
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px; /* Space between items */
  border: 1px solid #ccc; /* Optional: border around items */
  border-radius: 5px; /* Optional: rounded corners */
}



.printButtons{
  padding: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;

}

.printButtons:hover{
  color: #fff;
}


.orderButton{
  background-color: #769164;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  align-items: right;
  text-align: right;
  justify-content: right;
  padding-left: 5%;
  padding-right: 5%;

}
.orderButton:hover{
  background-color: #446031;
}

/* this is for the orders page--------------------------------------*/

.flex-container-order {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.order-card{
  border-color: #769164;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin-top: 2%;
}

@media (max-width: 1200px) {
  .flex-container-order {
    flex-direction: column;
    
  }
}

@media (max-width: 800px) {
  .flex-container-order {
    flex-direction: column;
  }
}


.flex-item-left-2 {
  flex: 50%;
}

.flex-item-left-2 li{
  list-style: none;
  align-items: center;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1rem;

}

.flex-item-left-2 ul {
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}


.flex-item-right-2 {
  padding: 10px; /*padding between objects*/
  flex: 50%;
}

.flex-item-right-2 li{
  list-style: none;
  display: flex;
  color: black;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
  align-items: end;
  justify-content: right;

}

.flex-item-right-2 ul {
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
  
}

.orderItems li{
  display: flex;
  padding: 4%;

}

.orderItems ul{
  display: flex;
  gap: 20px; 
  align-items: center; 
  list-style-type: none; 
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

/*greeting cards */



.flex-item-left-greeting {

  flex: 50%;
}

.flex-item-left-greeting li{
  list-style: none;
  align-items: center;
  display: flex;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  justify-content: center;

}

.flex-item-left-greeting ul {
  display: flex; /* Make the <ul> a flex container */
  flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
  align-items: center;
  text-align: center;
  justify-content: center;

}


.flex-item-right-greeting ul{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 0; /* Remove default padding */
}

.flex-item-right-greeting li{
  list-style: none;
  font-size: 1rem;
  
}


.flex-item-right-greeting {
  padding: 10px;
  flex: 50%;
}

@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
    
  }
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
